.event-fiksni {
    background-color: gray;
    color: white;
}

.event-plivajuci {
    background-color: yellow;
    color: black;
}

.event-trenerski {
    background-color: green;
    color: white;
}

.event-vanredni {
    background-color: red;
    color: white;
}

.event-neclanski {
    background-color: blue;
    color: white;
}

.event-klupski {
    background-color: brown;
    color: white;
}

.event-moderator {
    background-color: purple;
    color: white;
}

.legend-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Tri elementa po redu */
    gap: 10px; /* Razmak između elemenata */
    justify-items: start; /* Poravnaj elemente levo */
    margin-bottom: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    justify-content: start; /* Poravnaj sadržaj levo */
}

.legend-color {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

/* Stil za kalendar */
.fc {
    margin: 0;
    transform-origin: top left; /* Postavi tačku porekla na gornji levi ugao */
}

/* Stil za događaje */
.fc-event {
    background-color: #3788d8;
    color: #fff;
    border: 1px solid #3788d8;
    border-radius: 3px;
    padding: 2px 5px;
}

    .fc-event.lightcoral {
        background-color: lightcoral;
        border-color: lightcoral;
    }

    .fc-event.lightgreen {
        background-color: lightgreen;
        border-color: lightgreen;
    }

/* Stil za modal */
.modal-content {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.modal-header {
    border-bottom: 1px solid #e5e5e5;
}

.modal-footer {
    border-top: 1px solid #e5e5e5;
}

.modal-title {
    font-size: 24px;
    font-weight: bold;
}

.modal-body {
    font-size: 16px;
}

/* Stilovi za kolone i kontejnere */
.fc-col-header-cell {
    /*width: calc(21.5ch);*/ /*Širina kolona za dane i datume */
    /*min-width: calc(21.5ch);*/ /*Minimalna širina kolona */
    font-size: 8px;
}

.fc-timegrid-col {
    /*width: calc(22ch);*/ /*Širina kolone određena sa 22 karaktera */
    /*min-width: calc(22ch);*/ /* Minimalna širina kolone */
    font-size: 8px;
}

/* Postavi osnovni zoom na 70% */
/*.zoomed-out {
    transform: scale(0.7);*/ /* Smanji sadržaj na 70% */
    /*transform-origin: top left;*/ /* Zadrži gornji levi ugao kao tačku porekla */
/*}*/

.zoom-container {
    display: flex;
    justify-content: center; /* Horizontalno centriranje */
    overflow: auto; /* Omogući horizontalno i vertikalno pomeranje */
    width: 100%;
    white-space: nowrap; /* Spreči prelom linije */
}

.zoom-content {
    display: inline-block; /* Omogući horizontalno pomeranje sadržaja */
    width: 100%; /* Širina sadržaja je 100% */
    transform-origin: top left; /* Postavi tačku porekla na gornji levi ugao */
}

.centerContainer {
    display: flex;
    justify-content: center; /* Horizontalno centriranje */
    align-items: center; /* Vertikalno centriranje */
}

.notifications-container {
    margin-top: 0px; /* Smanji razmak između kalendara i notifikacija */
}

/* Stilovi za kolone i kontejnere */
.fc-col-header-cell {
    /*width: calc(21.5ch);*/ /*Širina kolona za dane i datume */
    /*min-width: calc(21.5ch);*/ /*Minimalna širina kolona */
    font-size: 8px;
}

.fc-timegrid-col {
    /*width: calc(22ch);*/ /*Širina kolone određena sa 22 karaktera */
    /*min-width: calc(22ch);*/ /* Minimalna širina kolone */
    font-size: 8px;
}
/* Različite veličine fonta za različite rezolucije ekrana */
@media (max-width: 600px) {
    .fc-event, .event-fiksni, .event-plivajuci, .event-trenerski, .event-vanredni, .event-neclanski, .event-klupski, .event-moderator {
        font-size: 7.5px; /* Mala rezolucija */
    }
}

@media (min-width: 601px) and (max-width: 1200px) {
    .fc-event, .event-fiksni, .event-plivajuci, .event-trenerski, .event-vanredni, .event-neclanski, .event-klupski, .event-moderator {
        font-size: 12px; /* Srednja rezolucija */
    }
}

@media (min-width: 1201px) {
    .fc-event, .event-fiksni, .event-plivajuci, .event-trenerski, .event-vanredni, .event-neclanski, .event-klupski, .event-moderator {
        font-size: 16px; /* Velika rezolucija */
    }
}